.content {
    width: 770px;
    height: 480px;
    padding-top: 15px;
    padding-left: 20px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: antiquewhite
}

#root {
    width: 700px;
    height: 400px;
    margin-top: 1px;
}
.cores {
    width: 140px;    
    margin-top: 1px;
}

.vermelho { border-color: red; }
.vermelho:hover { border-color: red; background-color: red; }

.verde { border-color: green; }
.verde:hover { border-color: green; background-color: green; }

.azul { border-color: blue; }
.azul:hover { border-color: blue; background-color: blue; }

.preto { border-color: black; }
.preto:hover { border-color: black; background-color: black; }

.amarelo {border-color: yellow; }
.amarelo:hover { border-color: yellow; background-color: yellow; }

.rosa { border-color: pink; }
.rosa:hover { border-color: pink; background-color: pink; }

.cinza { border-color: gray; }
.cinza:hover { border-color: gray; background-color: gray; }

.marrom { border-color: brown; }
.marrom:hover { border-color: brown; background-color: brown; }

.laranja { border-color: orange; }
.laranja:hover { border-color: orange; background-color: orange; }

.roxo { border-color: purple; }
.roxo:hover { border-color: purple; background-color: purple; }

